<!-- your code here -->
<header>
    <div class="header-top wrap js-pre-animate">
        <a href="/" class="logo header">
            <div class="logo-img">
                <div></div>
                <div></div>
            </div>
            <span>CopyBro</span>
        </a>
        <div class="intall-btn-wrapp top">
            <a href="#" class="market-btn">
                <img src="images/header/icon/google-ico.svg" alt="google">
            </a>
            <a href="#" class="market-btn">
                <img src="images/header/icon/apple-ico.svg" alt="google">
            </a>
            <a href="/" class="market-text-btn blue-btn">Установить</a>
        </div>
    </div>
</header>

<section class="investing-easy page-section wrap">
    <div class="section-left js-pre-animate">
        <h1 class="h1-main-page">
            <div class="investing-easy-title-wrapp">
                <span class="blue-text">Инвестируйте легко</span>
                <span class="grey-text">и получайте доход</span>
                <span class="blue-text">+51,9% 
                    <span class="grey-text small prompt-activate">
                        годовых <span class="prompt">*</span>
                        <span class="prompt-cont">Общий показатель по среднегодовой доходности стратегий</span>    
                    </span>
                </span>
            </div>
            <span class="investing-easy-title-wrapp mobile">
                <span class="grey-text">Зарабатывайте на инвестировании <span class="blue-text">легче и больше</span></span>
            </span>
        </h1>
        <div class="section-descr investing-easy-descr-wrapp dark-blue-text">
            <p>Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p>
        </div>

        <div class="section-descr investing-easy-descr-wrapp dark-grey-text mobile">
            <p> Подписывайтесь на лучшие стратегии, копируйте сделки профессиональных трейдеров в автоматическом режиме, зарабатывайте легко с минимальными рисками</p>
        </div>

        <div class="intall-btn-wrapp invest-easy">
            <a href="/" class="market-text-btn blue-btn">Установить приложение</a>
            <a href="#" class="market-btn">
                <img src="images/header/icon/google-ico.svg" alt="google">
                <span>Google Play</span>
            </a>
            <a href="#" class="market-btn">
                <img src="images/header/icon/apple-ico.svg" alt="google">
                <span>App Store</span>
            </a>
        </div>
    </div>
    <div class="section-right invest-easy-banner-wrap js-pre-animate">
        <img src="images/header/man-bg.png" alt="man" class="banner-man-img">
        <div class="banner-man-img mobile">
            <img src="images/header/man-bg.svg" alt="man" >
        </div>
        <div class="banner-adven-cont yell">
            <img src="images/header/icon/clock.png" alt="clock">
            <span class="banner-adven-title">60 мин</span>
            <div class="banner-adven-descr">Сэкономленного времени в день</div>
        </div>
        <div class="banner-adven-cont light-blue">
            <img src="images/header/icon/coin.png" alt="coin">
            <span class="banner-adven-title">от 0,0₽</span>
            <div class="banner-adven-descr">Платите комиссию только с прибыли</div>
        </div>
        <div class="banner-adven-cont blue">
            <img src="images/header/icon/persent.png" alt="coin">
            <span class="banner-adven-title">51,9%</span>
            <div class="banner-adven-descr">Средняя годовая доходность</div>
        </div>
    </div>
</section>

<section class="auto-research page-section wrap js-pre-animate">
    <div class="section-left auto-research-banner-wrap">
        <img src="images/header/work-desctop-bg.png" alt="auto research img">
    </div>
    <div class="section-right">
        <h2>
            <span class="grey-text">Автоследование: <span class="blue-text">минимальные риски,</span> оптимальная доходность</span>
        </h2>
        <div class="section-descr dark-grey-text">
            <p>Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности.</p>
            <p>Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</p>
        </div>
    </div>
</section>